@cor_fonte: #333;
@cor_clara: #fff;
@cor_escura: #014488;
@cor_link: #076ac9;
@cor_texto: #333;

@cor_base_clara: #dae8f4;
@cor_base_media: #035aa9;
@cor_base_escura: #014488;

@cor_gradiente_claro_1: #0659a9;
@cor_gradiente_claro_2: #0076be;
@cor_gradiente_claro_base: #0076be;

@cor_gradiente_escuro_1: #003c81;
@cor_gradiente_escuro_2: #00589c;
@cor_gradiente_escuro_base: #0076be;